<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
		<add key="vs-impl" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl/nuget/v3/index.json" />
		<add key="vssdk" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk/nuget/v3/index.json" />
		<add key="vssdk-archived" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk-archived/nuget/v3/index.json" />
	</packageSources>

	<packageSourceMapping>
		<clear />

		<packageSource key="dotnet-public">
			<package pattern="entityframework" />
			<package pattern="entityframework.de" />
			<package pattern="entityframework.es" />
			<package pattern="entityframework.fr" />
			<package pattern="entityframework.it" />
			<package pattern="entityframework.ja" />
			<package pattern="entityframework.ko" />
			<package pattern="entityframework.ru" />
			<package pattern="entityframework.sqlservercompact" />
			<package pattern="entityframework.zh-hans" />
			<package pattern="entityframework.zh-hant" />
			<package pattern="messagepack" />
			<package pattern="messagepack.annotations" />
			<package pattern="microsoft.bcl.asyncinterfaces" />
            <package pattern="microsoft.build.notargets" />
			<package pattern="microsoft.codeanalysis.bannedapianalyzers" />
			<package pattern="microsoft.csharp" />
			<package pattern="microsoft.io.redist" />
			<package pattern="microsoft.net.stringtools" />
			<package pattern="microsoft.netcore.platforms" />
			<package pattern="microsoft.netcore.targets" />
			<package pattern="microsoft.sqlserver.compact" />
			<package pattern="microsoft.visualstudioeng.microbuild.core" />
			<package pattern="microsoft.visualstudio.composition.configuration" />
			<package pattern="microsoft.visualstudio.sdk.analyzers" />
			<package pattern="microsoft.visualstudio.threading" />
			<package pattern="microsoft.visualstudio.threading.analyzers" />
			<package pattern="microsoft.visualstudio.validation" />
			<package pattern="microsoft.vssdk.buildtools" />
			<package pattern="microsoft.vssdk.compatibilityanalyzer" />
			<package pattern="microsoft.win32.registry" />
			<package pattern="moq" />
			<package pattern="nerdbank.gitversioning" />
			<package pattern="nerdbank.streams" />
			<package pattern="newtonsoft.json" />
			<package pattern="system.buffers" />
			<package pattern="system.collections.immutable" />
			<package pattern="system.componentmodel.composition" />
			<package pattern="system.composition" />
			<package pattern="system.composition.attributedmodel" />
			<package pattern="system.composition.convention" />
			<package pattern="system.composition.hosting" />
			<package pattern="system.composition.runtime" />
			<package pattern="system.composition.typedparts" />
			<package pattern="system.diagnostics.diagnosticsource" />
			<package pattern="system.io.pipelines" />
			<package pattern="system.memory" />
			<package pattern="system.numerics.vectors" />
			<package pattern="system.private.uri" />
			<package pattern="system.reflection.emit" />
			<package pattern="system.reflection.emit.lightweight" />
			<package pattern="system.reflection.metadata" />
			<package pattern="system.reflection.typeextensions" />
			<package pattern="system.runtime.compilerservices.unsafe" />
			<package pattern="system.security.accesscontrol" />
			<package pattern="system.security.cryptography.protecteddata" />
			<package pattern="system.security.principal.windows" />
			<package pattern="system.text.encodings.web" />
			<package pattern="system.text.json" />
			<package pattern="system.threading.accesscontrol" />
			<package pattern="system.threading.tasks.dataflow" />
			<package pattern="system.threading.tasks.extensions" />
			<package pattern="system.valuetuple" />
			<package pattern="xunit" />
			<package pattern="xunit.extensions" />
			<package pattern="xunit.runner.visualstudio" />
		</packageSource>

		<packageSource key="vs-impl">
			<package pattern="microsoft.internal.visualstudio.interop" />
			<package pattern="microsoft.sqlserver.compact" />
			<package pattern="microsoft.visualstudio.datadesign.common" />
			<package pattern="microsoft.visualstudio.datadesign.interfaces" />
			<package pattern="microsoft.visualstudio.datatools.interop" />
			<package pattern="microsoft.visualstudio.qualitytools.unittestframework" />
			<package pattern="microsoft.visualstudio.xmleditor" />
			<package pattern="microsoft.vsdesigner" />
			<package pattern="microsoft.xmleditor" />
			<package pattern="microsoft.wizardframework" />
			<package pattern="microsoft.wizardframeworkvs" />
		</packageSource>

		<packageSource key="vssdk">
			<package pattern="microsoft.build.framework" />
			<package pattern="microsoft.data.connectionui" />
			<package pattern="microsoft.servicehub.analyzers" />
			<package pattern="microsoft.servicehub.client" />
			<package pattern="microsoft.servicehub.framework" />
			<package pattern="microsoft.servicehub.resources" />
			<package pattern="microsoft.visualstudio.componentmodelhost" />
			<package pattern="microsoft.visualstudio.composition" />
			<package pattern="microsoft.visualstudio.composition.analyzers" />
			<package pattern="microsoft.visualstudio.coreutility" />
			<package pattern="microsoft.visualstudio.data.core" />
			<package pattern="microsoft.visualstudio.data.framework" />
			<package pattern="microsoft.visualstudio.data.services" />
			<package pattern="microsoft.visualstudio.editor" />
			<package pattern="microsoft.visualstudio.extensibilityhosting" />
			<package pattern="microsoft.visualstudio.extensibility.editor.contracts" />
			<package pattern="microsoft.visualstudio.graphmodel" />
			<package pattern="microsoft.visualstudio.imagecatalog" />
			<package pattern="microsoft.visualstudio.imaging" />
			<package pattern="microsoft.visualstudio.imaging.interop.14.0.designtime" />
			<package pattern="microsoft.visualstudio.interop" />
			<package pattern="microsoft.visualstudio.language" />
			<package pattern="microsoft.visualstudio.modeling.sdk" />
			<package pattern="microsoft.visualstudio.modeling.sdk.diagrams" />
			<package pattern="microsoft.visualstudio.modeling.sdk.diagrams.graphobject" />
			<package pattern="microsoft.visualstudio.modeling.sdk.diagrams.graphobject.nativeproj" />
			<package pattern="microsoft.visualstudio.modeling.sdk.shell" />
			<package pattern="microsoft.visualstudio.package.languageservice.15.0" />
			<package pattern="microsoft.visualstudio.projectaggregator" />
			<package pattern="microsoft.visualstudio.rpccontracts" />
			<package pattern="microsoft.visualstudio.remotecontrol" />
			<package pattern="microsoft.visualstudio.setup.configuration.interop" />
			<package pattern="microsoft.visualstudio.shell.15.0" />
			<package pattern="microsoft.visualstudio.shell.design" />
			<package pattern="microsoft.visualstudio.shell.framework" />
			<package pattern="microsoft.visualstudio.telemetry" />
			<package pattern="microsoft.visualstudio.templatewizardinterface" />
			<package pattern="microsoft.visualstudio.text.data" />
			<package pattern="microsoft.visualstudio.text.logic" />
			<package pattern="microsoft.visualstudio.text.ui" />
			<package pattern="microsoft.visualstudio.text.ui.wpf" />
			<package pattern="microsoft.visualstudio.texttemplating" />
			<package pattern="microsoft.visualstudio.texttemplating.interfaces" />
			<package pattern="microsoft.visualstudio.texttemplating.vshost" />
			<package pattern="microsoft.visualstudio.utilities" />
			<package pattern="microsoft.visualstudio.utilities.internal" />
			<package pattern="streamjsonrpc" />
			<package pattern="vswebsite.interop" />
			<package pattern="vswebsite.interop90" />
		</packageSource>
		<packageSource key="vssdk-archived">
			<package pattern="microsoft.visualstudio.texttemplating.interfaces.10.0" />
			<package pattern="microsoft.visualstudio.texttemplating.interfaces.11.0" />
		</packageSource>

	</packageSourceMapping>

	<!-- Don't let user disabled sources in VS prevent us from restoring -->
	<disabledPackageSources>
		<clear />
	</disabledPackageSources>
</configuration>
